$theme-pink: #e45e8a;

$ease-out: cubic-bezier(0.13, 0.77, 0.46, 1);

.alert {
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 2000;
  pointer-events: none;
}
.v-alert {
  pointer-events: all;
}
